<h2>Name of the country: {{ country }}</h2>

<div class="stats">
  <div class="card">Number of entries<br><strong>{{ totalEntries }}</strong></div>
  <div class="card">Total number medals<br><strong>{{ totalMedals }}</strong></div>
  <div class="card">Total number of athletes<br><strong>{{ totalAthletes }}</strong></div>
</div>

<div style="max-width: 600px; margin: auto;">
  <canvas baseChart
    [data]="lineChartData"
    chartType="line">
  </canvas>
</div>

<div style="text-align:center; margin-top: 20px;">
  <a routerLink="/">⬅ Retour</a>
</div>
