<div *ngIf="olympics$ | async as olympics; else loading">
  <h1>Medails per countrY</h1>
  <div>
    <h2>Number of JO: {{ numberOfJo$ | async }}</h2>
    <h2>Number of Countries: {{ numberOfCountries$ | async }}</h2>
  </div>
  <ul>
    <li *ngFor="let country of olympics">
      <h3>{{ country.country }}</h3>
      <p>
        Médailles Totales:
        {{ getTotalMedals(country) }}
      </p>
      <ul>
        <li *ngFor="let participation of country.participations">
          {{ participation.year }} à {{ participation.city }} :
          {{ participation.medalsCount }} médailles,
          {{ participation.athleteCount }} athlètes
        </li>
      </ul>
    </li>
  </ul>
</div>
<ng-template #loading>
  <p>Chargement des données...</p>
</ng-template>
