/* STYLE GLOBALEMENT LE TOOLTIP DE ngx-charts */

.ngx-tooltip {
  background-color: #007C89 !important;
  color: white !important;
  width: 100px !important;
}

.tooltip-title {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.tooltip-value {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}


